* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: poppins;
    src: url(Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: dm-mono;
    src: url(DM_Mono/DMMono-Regular.ttf);
}

.navbar {
    background-color: #000 !important;
}

ul li a {
    color: #fff !important;
}

.dropdown-menu {
    background-color: #000;
}

.form-control {
    background-color: #000;
    border-radius: 1px;
    border: 1px solid #565c65;
    padding: 5px 0px 5px 10px;
}

.form-control::placeholder {
    color: #353535;
}

.my-btn {
    border: 1px solid #f64137;
    border-radius: 2px;
    font-size: .65em;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 1;
    padding: 0px 2px 0px 2px;
    background-color: transparent;
    color: #fff;
    margin-top: 16px;
    height: 16px;
    text-transform: uppercase;
    vertical-align: middle;
}

.my-btn:hover {
    background-color: #ed1c11;
}

.mobile-navbar {
    display: none;
    background-color: #000;
}

@media only screen and (max-width:1023px) {
    .navbar {
        display: none;
    }

    .mobile-navbar {
        display: block;
    }
}

.fa-solid {
    color: #fff;
    font-size: 22px;
}

@media only screen and (max-width:769px) {
    .nav-menu {
        display: flex !important;
        justify-content: center;
    }
}

.slider {
    background-image: url(images/slider-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.heading-1 {
    padding: 100px 20px 50px 50px;
}

.heading-1 h1 {
    font-size: 70px;
    color: #fff;
    font-weight: 700;
    font-family: poppins;
}

.heading-1 p {
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
}

.btn-danger {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    padding: 10px 24px 10px 24px;
    background-color: #f64137 !important;
}

.btn-danger:hover {
    background-color: #b50909 !important;
}

@media only screen and (max-width:1027px) {

    .heading-1 {
        padding-left: 50px;
        padding-top: 50px;
    }

    .heading-1 h1 {
        font-size: 40px;
        color: #fff;
        font-weight: 900;
        font-family: poppins;
    }

    .heading-1 p {
        font-size: 18px;
        color: #fff;
        font-weight: 400;

    }

    .btn-danger {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: .5px;
        color: #fff;
        padding: 10px 24px 10px 24px;
        background-color: #f64137 !important;
    }

}

@media only screen and (max-width:426px) {
    .heading-1 {
        padding: 50px 20px 0px 20px;
    }

    .heading-1 h1 {
        font-size: 34px;
        color: #fff;
        font-weight: 900;
        font-family: poppins;
    }

    .heading-1 p {
        font-size: 15px;
        color: #fff;
        font-weight: 400;
    }

    .btn-danger {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: .5px;
        color: #fff;
        width: 100%;
        border: none;
        padding: 10px 24px 10px 24px;
        background-color: #f64137 !important;
        margin-bottom: 60px;
    }
}

.con-1 {
    border-top: 2px solid;
    border-color: rgba(255, 255, 255, .2) !important;
    align-items: center;
    margin-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.con-1 .p-1 {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-family: dm-mono;
    margin-bottom: 0px;
}

.con-1 .p-2 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: dm-mono;
    margin-bottom: 0px;
}

.arrow-icon {
    color: #fff;
    font-size: 14px;
    background-color: #f64137;
    padding: 5px 6px 5px 6px;
    border-radius: 50%;
    transform: rotate(320deg)
}

.inner-content-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
}

.inner-content-1 img {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50px;
    cursor: pointer;
}

.paush-icon {
    color: #fff;
    background-color: grey;
    padding: 8px 13px 8px 13px;
    border-radius: 50px;
    cursor: pointer;
}

@media only screen and (max-width:769px) {
    .con-1 {
        margin-left: 10px;
    }

    .inner-content-1 {
        justify-content: center;
    }

    .inner-content-1 img {
        width: 40px;
        height: 40px;
        margin: 5px;
        border: 2px solid #fff;
        border-radius: 50px;
        cursor: pointer;
    }
}

.main-2 {
    padding: 30px 0px 0px 0px;
}

.heading-2 {
    padding: 50px 0px 5px 0px;
}

.heading-2 h1 {
    font-size: 55px;
    font-weight: 700;
    color: #000;
    font-family: sans-serif;
}

.heading-3 {
    padding: 60px 0px 5px 0px;
}

.heading-3 h3 {
    font-size: 25px;
    font-weight: 700;
    text-align: right;
    color: #000;
    font-family: sans-serif;
}

@media only screen and (max-width: 992px) {
    .main-2 {
        padding: 0px 0px 0px 0px;
    }

    .heading-2 {
        padding: 40px 0px 0px 0px;
    }

    .heading-3 {
        padding: 30px 0px 15px 0px;
    }

    .heading-3 h3 {
        text-align: left;
    }
}

@media only screen and (max-width:500px) {
    .heading-2 h1 {
        font-size: 37px;
        font-weight: 700;
    }

    .heading-3 h3 {
        font-size: 21px;
    }
}

.side-content-1 {
    background-image: url(images/side-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.top-heading-1 p {
    font-size: 14px;
    font-weight: 400;
    font-family: dm-mono;
    color: #fff;
    letter-spacing: 1px;
}

.save-icon {
    font-size: 10px;
    padding: 7px 7px 5px 7px;
    ;
    border: 1px solid #fff;
    border-radius: 50px;
}

.bottom-heading p {
    font-size: 15px;
    font-weight: 500;
    font-family: dm-mono;
    color: #fff;
    letter-spacing: 1px;
}

.bottom-heading h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    color: #fff;
    letter-spacing: 1px;
    line-height: 22px;
}

.side-content-2 {
    background-image: url(images/side-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.side-content-3 {
    background-image: url(images/side-3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.side-content-4 {
    background-image: url(images/side-5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.main-img img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-right: 15px;
    border: 1px solid #000;
}

.save-icon-1 {
    font-size: 8px;
    padding: 6px 6px 4px 6px;
    color: #58585b;
    border: 1px solid #58585b;
    border-radius: 50px;
}

.main-inner p {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: dm-mono;
    color: #58585b;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main-inner h2 {
    font-size: 15px;
    font-weight: 700;
    font-family: sans-serif;
    color: #000;
    line-height: 22px;
}

@media only screen and (max-width:426px) {
    .main-img img {
        margin-right: 10px;
    }

    .save-icon-1 {
        font-size: 6px;
        padding: 4px 4px 4px 5px;
    }

    .main-inner p {
        font-size: 12px;
    }

    .main-inner h2 {
        font-size: 12.3px;
    }
}

.main-3 {
    background-image: url(images/slide-6.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.main-inner-1 {
    padding: 250px 0px 70px 0px;
}

.main-inner-1 h1 {
    font-size: 80px;
    font-weight: 700;
    font-family: sans-serif;
    color: #fff;
    padding-bottom: 30px;
}

.main-inner-1 p {
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    color: #fff;
    padding-bottom: 0px;
}

.main-inner-1 .p-2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    font-family: sans-serif;
    margin-bottom: 0px;
}

.arrow-icon-1 {
    color: #fff;
    font-size: 10px;
    background-color: #f64137;
    padding: 5px 6px 5px 6px;
    border-radius: 50%;
    transform: rotate(320deg)
}

@media only screen and (max-width:577px) {
    .main-inner-1 h1 {
        font-size: 50px;
        font-weight: 700;
        font-family: sans-serif;
        color: #fff;
        padding-bottom: 30px;
    }

    .main-inner-1 p {
        font-size: 16px;
        font-weight: 500;
        font-family: sans-serif;
        color: #fff;
        padding-bottom: 0px;
    }

    .main-inner-1 .p-2 {
        color: #fff;
        font-size: 21px;
        font-weight: 700;
        font-family: sans-serif;
        margin-bottom: 0px;
    }

}

.main-inner-2 p {
    font-family: dm-mono;
    font-style: normal;
    color: #000;
    font-weight: 500;
    font-size: .7rem;
    line-height: 1em;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}

.main-inner-2 h1 {
    font-size: 2.562rem;
    line-height: .95em;
    font-weight: 700;
    color: #000;
    margin-bottom: 4rem;
    font-family: "inter", sans-serif;
}

.main-inner-3 h2 {
    font-size: 1.375rem;
    font-weight: 700;
    color: #000;
    line-height: 1.05em;
    margin-bottom: 1rem;
}

.main-inner-3 p {
    font-size: 1.07rem !important;
    line-height: 1.65em;
    font-size: 1rem;
    font-family: "Public Sans Web", sans-serif;
}

.main-inner-3 .p-3 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    font-family: sans-serif;
    margin-bottom: 0px;
    padding: 0px !important;
}

.arrow-icon-2 {
    color: #fff;
    font-size: 10px;
    background-color: #f64137;
    padding: 5px 6px 5px 6px;
    border-radius: 50%;
}

.main-inner-4 {
    position: relative;
}

.main-inner-4 img {
    width: 100%;
    height: auto;
}

.icon-down {
    position: absolute;
    top: 6%;
    left: 96%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    background-color: rgb(28, 103, 227);
    padding: 10px 10px;
    border-radius: 50%;
    z-index: 1;
    /* Ensure the icon is above the image */
}

.main-inner-4 .p-4 {
    color: #000;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: right;
    margin-top: 5px;
    font-family: sans-serif;
    margin-bottom: 0px;
    padding: 0px !important;
}

.arrow-icon-3 {
    color: #fff;
    font-size: 10px;
    background-color: #f64137;
    padding: 5px 6px 5px 6px;
    border-radius: 50%;
}

.main-inner-2-1 {
    display: none;
}

@media only screen and (max-width:426px) {
    .main-inner-3 h2 {
        font-size: 1.2rem;
    }

    .main-inner-3 p {
        font-size: 1rem !important;
    }
}

@media only screen and (max-width:640px) {
    .icon-down {
        position: absolute;
        top: 12%;
        left: 92%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 12px;
        background-color: rgb(28, 103, 227);
        padding: 10px 10px;
        border-radius: 50%;
        z-index: 1;
        /* Ensure the icon is above the image */
    }

    .main-inner-3 {
        margin-top: 15px;
    }

    .main-inner-2-1 p {
        font-family: dm-mono;
        font-style: normal;
        color: #000;
        font-weight: 500;
        font-size: .7rem;
        line-height: 1em;
        letter-spacing: 3.5px;
        text-transform: uppercase;
    }

    .main-inner-2-1 h1 {
        font-size: 1.6rem;
        line-height: .95em;
        font-weight: 700;
        color: #000;
        margin-bottom: 1em;
        font-family: "inter", sans-serif;
    }

    .main-inner-2-1 {
        display: block;
    }

    .main-inner-2 {
        display: none;
    }
}

@media only screen and (max-width:769px) {
    .rotate-col {
        display: flex;
        flex-direction: column-reverse;
    }
}

.main-5 {
    background-image: url(images/side-7.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.main-6 {
    background-image: url(images/side-8.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.side-content-9 {
    background-image: url(images/side-9.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.side-content-10 {
    background-image: url(images/side-10.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.side-content-11 {
    background-image: url(images/side-11.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.side-content-12 {
    background-image: url(images/side-12.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.book-icon {
    font-size: 10px;
    padding: 7px 7px 7px 7px;
    border: 1px solid #fff;
    border-radius: 50px;
}

.book-icon-1 {
    font-size: 10px;
    padding: 6px 6px 6px 6px;
    color: #58585b;
    border: 1px solid #58585b;
    border-radius: 50px;
}

.arrow-icon-4 {
    color: #fff;
    font-size: 10px;
    background-color: #f64137;
    padding: 5px 6px 5px 6px;
    border-radius: 50%;
}

.last-con p {
    font-family: "dm-mono";
    font-style: normal;
    font-weight: 500;
    font-size: .7rem;
    line-height: 1em;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}

.last-con h1 {
    font-size: 2.562rem;
    line-height: .95em;
    font-weight: 700;
    color: #000;
    margin-bottom: 4rem;
    font-family: "inter", sans-serif;
}

.side-content-5 {
    background-image: url(images/side-5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 20px 15px 20px 15px;
}

.bottom-heading-1 h2 {
    font-size: 22px !important;
    font-weight: 600;
    font-family: sans-serif;
    color: #fff;
    letter-spacing: 1px;
    line-height: 32px;
}

.arrow-icon-5 {
    color: #fff;
    font-size: 10px;
    background-color: #f64137;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
}
.footer-h h1{
    font-size: 22px !important;
    font-weight: 700 !important;
    font-family: sans-serif;
    color: #fff;
    letter-spacing: 1px;
    line-height: 32px;
}
.footer-h p{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    color: #b9b9bb;
    padding-bottom: 0px;  
}
.footer-h a{
    margin-top: 20px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    font-family: sans-serif;
    color: #fff;
}
.footer-h ul li{
    margin-bottom: 10px;
}
.footer-h a:hover{
    margin-top: 20px;
    font-size: 16px;
    border-bottom: 2px #fff dotted;
    font-weight: 500;
    font-family: sans-serif;
    color: #fff;
    padding-bottom: 0px; 
}
 .footer-h .p-4{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    font-family: sans-serif;
    margin-bottom: 0px;
}
.my-btn-1 {
    border: 1px solid #f64137;
    border-radius: 2px;
    font-size: .65em;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 1;
    padding: 0px 2px 0px 2px;
    background-color: transparent;
    color: #fff;
    height: 16px;
    text-transform: uppercase;
    vertical-align: middle;
}
.my-btn-1:hover {
    background-color: #ed1c11;
}
.footer-h h3{
    color: #7b7e82;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.socail-icon{
    color: #fff;
    font-size: 15px;
    background-color: #565c6590;
    padding: 8px 12px 8px 10px;
    border-radius: 50%;
}
.socail-icon:hover{
    color: #fff;
    font-size: 15px;
    background-color: #565c65;
    padding: 8px 12px 8px 10px;
    border-radius: 50%;
}
